<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트 thym</title>
</head>

<style>
    .layout {
        /*text-align: center;*/
        margin-left: 30% ;
    }
</style>

<body>
    <div class = "layout">
        <table>
            <thead>
                <tr>
                    <th>글번호(id)</th>
                    <th>제목(title)</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="bbb : ${list}">
                <td th:text="${bbb.id}"></td>
                <td>
<!--                            @PathVariable 방식-->
                    <a th:text="${bbb.title}" th:href="@{/api/v1/boards/{id}(id=${bbb.id})}"></a>

<!--                    @GET방식-->
<!--                    <a th:text="${bbb.title}" th:href="@{/api/v1/boards/(id=${bbb.id})}"></a>-->
                </td>
            </tr>
            </tbody>
        </table>

        <th:block th:each="listpage : ${#numbers.sequence(startPage,endPage)}">
            <a th:if="${listpage != page}" th:href="@{/api/v1/boards/list(page=${listpage -1},keyword=${param.keyword})}" th:text="${listpage}"></a>
            <strong th:if="${listpage == page}" th:text="${listpage}" style="color : #f67e7e"></strong>
        </th:block>
<!--        http://localhost:8080/api/v1/boards/list?keyword=8-->
<!--        http://localhost:8080/api/v1/boards/api/v1/boards/list/?keyword=9-->
        <form th:method="get">
            <input type="text" name="keyword">
            <button type="submit">검색</button>
        </form>

        <form th:action="@{/api/v1/boards/}" th:method="get">
            <button type="submit">글작성</button>
        </form>
    </div>
</body>
</html>