<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 실패</title>
</head>
<body>
<h1 style="text-align: center">!!! 로그인 실패 !!!</h1>
<h1 style="text-align: center">!!! 잘못된 회원 정보입니다. !!!</h1>
<br>
<h2 style="text-align: center"> 회원님의 정보를 입력하세요</h2>
        <form action="/api/v1/member/login" method="post" style="margin-left: 40%">
            아이디 : <input type="text" name="id" style="margin-bottom: 10px"> <br>
            비밀번호 : <input type="password" name="password" style="margin-bottom: 10px"> <br><br>
        <button type="submit">로그인</button>
    </form>
        <button type="submit" onclick="location.href='join'"  style="margin-left: 40%; margin-top: 10px">회원가입</button>
</body>
</html>