<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
</head>
<body>
<!--#adddtribute에 name칸에있는 변수명 쓰기-->
<h1 th:text="${view.title}">제목</h1>
<p th:text="${view.contents}">내용</p>

<form th:action="@{/api/v1/boards/{id}(id=${view.id})}", th:method="post">
    <input type="hidden", value="PUT"/>
<button>수정</button>
</form>

<form th:action="@{/api/v1/boards/{id}(id=${view.id})}", th:method="delete">
    <input type="hidden", value="PUT">
    <button>삭제</button>
</form>



</body>
</html>