<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>write.html입니다</title>
</head>
<style>
    .list-w {
        /*text-align: center;*/
        margin-left: 30% ;
    }
    .list-w > form > input{
        width: 35%;
        height: 35px;
    }
    .list-w > form> textarea{
        width: 50%;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>


<body>
<h1>글 작성하세요</h1>
<div class = "list-w">
    <form action="/api/v1/boards" method="post">
        <input name="title" type="text">
        <br>
        <textarea name="contents"></textarea>
        <br>
        <button type="submit">작성완료</button>
    </form>
    <br>
    <form th:action="@{/api/v1/boards/list}" th:method="get">
        <button type="submit">작성취소</button>
    </form>
</div>

</body>
</html>